
// Panels
// -------------------

// Overrides: atom/static/panels.less

.panel-heading {
    border-bottom: 1px solid @panel-heading-border-color;
    background-color: @panel-heading-background-color;
}

.inset-panel {
    background-color: @inset-panel-background-color;
    .panel-heading {
        background-color: lighten(@inset-panel-background-color, 4%);
    }
}


// Modal -------------------
// Used on top of the editor, like the Command Palette.

atom-panel.modal {

    border: 1px solid @overlay-border-color;
    border-top: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding: 2px;
    .secondary-line {
        font-style: italic;
        opacity: 0.5;
        line-height: 20px;
        padding-left: 20px;
    }
    .primary-line {
        line-height: 20px;
    }
}

.custom-title-bar atom-panel.modal {
    top: 23px;
}


.panel-body {
    font-size: 11px;
    line-height: inherit;
}
