
// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view


.tree-view-resizer {
    border-right: 1px solid @base-border-color;
}

.tree-view {
    color: @text-color;
    background-color: @tree-view-background-color;

    .status-ignored {
        color: #aaa;
    }
    .list-item {
        .selected {
            color: #333;
            font-style: italic;
            &.status-modified {
                color: #c90!important;
            }
            &.status-ignored {
                color: #aaa;
                font-style: italic;
            }
        }
    }
}
